In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import math

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
d1=pd.read_csv('/content/drive/MyDrive/datasets/vehicles.csv')
d1.head()

In [ ]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [ ]:
d1.isna().sum()

In [ ]:
drop_columns = ['id','url', 'region_url','manufacturer','condition','cylinders', 'drive','size','image_url','county','state','lat','long','posting_date','description']
d1 = d1.drop(columns = drop_columns)

In [ ]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        426880 non-null  object
 1   price         426880 non-null  int64
 2   year          425675 non-null  float64
 3   model         421603 non-null  object
 4   fuel          423867 non-null  object
 5   odometer      422480 non-null  float64
 6   title_status  418638 non-null  object
 7   transmission  424324 non-null  object
 8   VIN           265838 non-null  object
 9   type          334022 non-null  object
 10  paint_color   296677 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 35.8+ MB

In [ ]:
d1=d1.dropna()

In [ ]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178459 entries, 27 to 426878
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        178459 non-null  object
 1   price         178459 non-null  int64
 2   year          178459 non-null  float64
 3   model         178459 non-null  object
 4   fuel          178459 non-null  object
 5   odometer      178459 non-null  float64
 6   title_status  178459 non-null  object
 7   transmission  178459 non-null  object
 8   VIN           178459 non-null  object
 9   type          178459 non-null  object
 10  paint_color   178459 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 16.3+ MB

In [ ]:
d1.head()

,region,price,year,model,fuel,odometer,title_status,transmission,VIN,type,paint_color
27,auburn,33590,2014.0,sierra 1500 crew cab slt,gas,57923.0,clean,other,3GTP1VEC4EG551563,pickup,white
28,auburn,22590,2010.0,silverado 1500,gas,71229.0,clean,other,1GCSCSE06AZ123805,pickup,blue
29,auburn,39590,2020.0,silverado 1500 crew,gas,19160.0,clean,other,3GCPWCED5LG130317,pickup,red
30,auburn,30990,2017.0,tundra double cab sr,gas,41124.0,clean,other,5TFRM5F17HX120972,pickup,red
32,auburn,27990,2012.0,sierra 2500 hd extended cab,gas,68696.0,clean,other,1GT220CG8CZ231238,pickup,black

In [ ]:
uservalues=['auburn','2018.0','silverado','gas','50000.0','clean','other','4GTSUHDBDBUSNS12','pickup','blue']

In [ ]:
from sklearn.preprocessing import LabelEncoder
d2=pd.DataFrame(d1)
i=0
temp=[]
testvalues=[]
for col in d2.columns:
      if col!='price':
        le=LabelEncoder()
        temp=list(d2[col].astype(str).values)
        temp.append(uservalues[i])
        le.fit(temp)
        d2[col] = le.transform(list(d2[col].astype(str).values))
        testvalues.append(le.transform([uservalues[i]])[0])
        i=i+1
print(testvalues)

[16, 90, 10078, 2, 39463, 0, 2, 45559, 8, 1]

In [ ]:
d1.head()

,region,price,year,model,fuel,odometer,title_status,transmission,VIN,type,paint_color
27,16,33590,86,9869,2,42063,0,2,42148,8,10
28,16,22590,82,10081,2,46663,0,2,21036,8,1
29,16,39590,92,10095,2,24160,0,2,40929,8,8
30,16,30990,89,11529,2,36313,0,2,54211,8,8
32,16,27990,84,9944,2,45748,0,2,24077,8,0

In [ ]:
region_data=d2['region']
year_data = d2['year']
model_data=d2['model']
fuel_data=d2['fuel']
odometer_data=d2['odometer']
title_data=d2['title_status']
transmission_data=d2['transmission']
vin_data=d2['VIN']
type_data=d2['type']
paint_data=d2['paint_color']


price_data = d2['price']

price = np.array(price_data).reshape(-1,1)

features=np.array([region_data,year_data,model_data,fuel_data,odometer_data,title_data,transmission_data,vin_data,type_data,paint_data]).T

In [ ]:
model = LinearRegression()
model.fit(features,price)

LinearRegression()

In [ ]:
result=model.predict([testvalues])
print("The predicted price of the car is :",result[0][0])

The predicted price of the car is : 33450.94081679001